<!-- API展示 -->
       
<div class="col-md-8 col-md-offset-2 api-first-show-area">
	<div class="row">
		<div class=" col-md-3 panel panel-default">
	  	<div class="show-img-body text-center">
		  	<span class="help-span"></span><%= image_tag "no_logo.png" , class: 'api-img' %>
		  </div>
    </div>
		<div class=" col-md-9 mian-contant-out">
			<div class="mian-contant-in">
			  	<p class="mian-contant-text"><B>API Name: </B><%= @api.name %></p>
			  	<p class="mian-contant-text"><B>API ID: </B><%= @api.id %></p>
			  	<p class="mian-contant-text"><B>API Version: </B><%= @api.version %></p>
		  	</div>
		</div>
	</div>
	<hr/>
	<div class="row">	
	  	<p class="description-text"><B>Description: </B><%= @file %></p>
	</div>
  <hr/>
	<div class="row">
      	<pre><%= @json %></pre>
	</div>	
</div>