/*调整内容与顶部的距离*/
.api-first-show-area
{
	margin-top:60px;
}


/*调整API图片大小*/
img.api-img
{
	max-width: 100%;
	max-height: 100px;
	vertical-align: middle;
}

/*调整API图片的区域大小*/
.show-img-body
{
	width: 100%;
	height: 110px;
	padding: 5px;
}

/*API图片的邻居*/
.help-span
{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

/*API主要信息的显示（图片右边）*/
.mian-contant-in{
	margin-top: 10px;
	margin-left: 20px;
}

.mian-contant-out{
	height: 110px;
}

.mian-contant-text{
	font-size:18px;
}

.mk-inner{
	display: inline-block;
}

/*API描述的内容调整*/
.description-text
{
	margin-left: 5px;
	font-size:15px;
}